<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Kenshu</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DataAdd</display-name>
    <servlet-name>DataAdd</servlet-name>
    <servlet-class>com.example.kenshu.DataAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataAdd</servlet-name>
    <url-pattern>/DataAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataUpdate</display-name>
    <servlet-name>DataUpdate</servlet-name>
    <servlet-class>com.example.kenshu.DataUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataUpdate</servlet-name>
    <url-pattern>/DataUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataDelete</display-name>
    <servlet-name>DataDelete</servlet-name>
    <servlet-class>com.example.kenshu.DataDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataDelete</servlet-name>
    <url-pattern>/DataDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataSave</display-name>
    <servlet-name>DataSave</servlet-name>
    <servlet-class>com.example.kenshu.DataSave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSave</servlet-name>
    <url-pattern>/DataSave</url-pattern>
  </servlet-mapping>
</web-app>