/* ▼背景の設定 */

	body{
		background-image: url(../img/back_01.jpg);
		background-size: cover;
		background-repeat:no-repeat;
	    background-position:0% 0%;
	    background-attachment:fixed;
	}

/* ▲ここまで */

/* ▼フォントのスタイル */

	/* 見出し */
	.font_big{
		font-size:22pt;
		font-family:Arial, sans-serif;
		color:#EEEEEE;
		text-align:center;
	}

	/* 標準テキスト */
	.font_nol{
		font-size:10pt;
		font-family:Arial, sans-serif;
		color:#EEEEEE;
		text-align:center;
	}

	/* リンクを使用する際の設定 */
	a:link {
		color:#EEEEEE;
		text-decoration: none;
	}

	a:visited {
		color:#00FFFF;
		text-decoration: none;
	}

	a:active {
		color:#00ff00;
	}

	a:hover {
		color: #00FF00;
		text-decoration: none;
	}

/* ▲ここまで */

/* ▼フォームのスタイル */

	/* ボタンの設定 */
	.form1{
		border:solid 1px #0080ff;
		padding:5px 15px;
		margin:0 0 20px;
		font-family:Arial, sans-serif;
		font-size:1;
		text-transform:uppercase;
		font-weight:bold;
		color:#333;
		cursor:pointer;
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: rgba( 0, 255, 255, 0.4 );
		color:white;
		background-color.hover: #24d;
	}

	.form1:hover{
		background-color: rgba( 0, 150, 255, 1 );
	}

	/* リセットボタンの設定 */
	.form2{
		border:solid 1px #0080ff;
		padding:5px 15px;
		margin:0 0 20px;
		font-family:Arial, sans-serif;
		font-size:1;
		text-transform:uppercase;
		font-weight:bold;
		color:#333;
		cursor:pointer;
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background-color: rgba( 0, 255, 255, 0.4 );
		color:white;
		background-color.hover: #24d;
	}

	.form2:hover{
		background-color: rgba( 0, 200, 150, 1 );
	}

/* ▲ここまで */

/* ▼ページの外観 */

	/* 情報を載せるエリア */
	.form_area{
		background-color: rgba( 0, 0, 0, 0.2 );;
		width:550px;
		height:400px;
		margin: 120px auto;
		padding: 20px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		position: center;
	}

	/* 情報エリアの空きスペースを埋める */
	.space{
		margin: 30px auto;
		padding: 20px;
	}

/* ▲ここまで */





