<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Addressbook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adressbook</display-name>
    <servlet-name>Adressbook</servlet-name>
    <servlet-class>adoress.Adressbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adressbook</servlet-name>
    <url-pattern>/Adressbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TorokuSyori</display-name>
    <servlet-name>TorokuSyori</servlet-name>
    <servlet-class>address.TorokuSyori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TorokuSyori</servlet-name>
    <url-pattern>/TorokuSyori</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Toroku-Seiko</display-name>
    <servlet-name>Toroku-Seiko</servlet-name>
    <servlet-class>address.Toroku-Seiko</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Toroku-Seiko</servlet-name>
    <url-pattern>/Toroku-Seiko</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Toroku-Shippai</display-name>
    <servlet-name>Toroku-Shippai</servlet-name>
    <servlet-class>address.Toroku-Shippai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Toroku-Shippai</servlet-name>
    <url-pattern>/Toroku-Shippai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Koshin-Sakujo</display-name>
    <servlet-name>Koshin-Sakujo</servlet-name>
    <servlet-class>address.Koshin-Sakujo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Koshin-Sakujo</servlet-name>
    <url-pattern>/Koshin-Sakujo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KosinSyori</display-name>
    <servlet-name>KoshinSyori</servlet-name>
    <servlet-class>address.KoshinSyori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KoshinSyori</servlet-name>
    <url-pattern>/KoshinSyori</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SakujoSyori</display-name>
    <servlet-name>SakujoSyori</servlet-name>
    <servlet-class>address.SakujoSyori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SakujoSyori</servlet-name>
    <url-pattern>/SakujoSyori</url-pattern>
  </servlet-mapping>
</web-app>