<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Addressbook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adressbook</display-name>
    <servlet-name>Adressbook</servlet-name>
    <servlet-class>adoress.Adressbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adressbook</servlet-name>
    <url-pattern>/Adressbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Toroku-Syori</display-name>
    <servlet-name>Toroku-Syori</servlet-name>
    <servlet-class>address.Toroku-Syori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Toroku-Syori</servlet-name>
    <url-pattern>/Toroku-Syori</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Toroku-Seiko</display-name>
    <servlet-name>Toroku-Seiko</servlet-name>
    <servlet-class>address.Toroku-Seiko</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Toroku-Seiko</servlet-name>
    <url-pattern>/Toroku-Seiko</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Toroku-Sippai</display-name>
    <servlet-name>Toroku-Sippai</servlet-name>
    <servlet-class>address.Toroku-Sippai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Toroku-Sippai</servlet-name>
    <url-pattern>/Toroku-Sippai</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Koshin-Sakujo</display-name>
    <servlet-name>Koshin-Sakujo</servlet-name>
    <servlet-class>address.Koshin-Sakujo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Koshin-Sakujo</servlet-name>
    <url-pattern>/Koshin-Sakujo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Koshin-Syori</display-name>
    <servlet-name>Koshin-Syori</servlet-name>
    <servlet-class>address.Koshin-Syori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Koshin-Syori</servlet-name>
    <url-pattern>/Koshin-Syori</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sakujo-Syori</display-name>
    <servlet-name>Sakujo-Syori</servlet-name>
    <servlet-class>address.Sakujo-Syori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sakujo-Syori</servlet-name>
    <url-pattern>/Sakujo-Syori</url-pattern>
  </servlet-mapping>

</web-app>