<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Addressbook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adressbook</display-name>
    <servlet-name>Adressbook</servlet-name>
    <servlet-class>adoress.Adressbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adressbook</servlet-name>
    <url-pattern>/Adressbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tourokusyori</display-name>
    <servlet-name>Tourokusyori</servlet-name>
    <servlet-class>address.Tourokusyori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tourokusyori</servlet-name>
    <url-pattern>/Tourokusyori</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Seikou</display-name>
    <servlet-name>Seikou</servlet-name>
    <servlet-class>address.Seikou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Seikou</servlet-name>
    <url-pattern>/Seikou</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sippai</display-name>
    <servlet-name>Sippai</servlet-name>
    <servlet-class>address.Sippai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sippai</servlet-name>
    <url-pattern>/Sippai</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Kousinsakujo</display-name>
    <servlet-name>Kousinsakujo</servlet-name>
    <servlet-class>address.Kousinsakujo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kousinsakujo</servlet-name>
    <url-pattern>/Kousinsakujo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Kousinsyori</display-name>
    <servlet-name>Kousinsyori</servlet-name>
    <servlet-class>address.Kousinsyori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kousinsyori</servlet-name>
    <url-pattern>/Kousinsyori</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sakujosyori</display-name>
    <servlet-name>Sakujosyori</servlet-name>
    <servlet-class>address.Sakujosyori</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sakujosyori</servlet-name>
    <url-pattern>/Sakujosyori</url-pattern>
  </servlet-mapping>

</web-app>