<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hoge</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Addressbook_success</display-name>
    <servlet-name>Addressbook_success</servlet-name>
    <servlet-class>addressbook.Addressbook_success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addressbook_success</servlet-name>
    <url-pattern>/Addressbook_success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addressbook_failure</display-name>
    <servlet-name>Addressbook_failure</servlet-name>
    <servlet-class>addressbook.Addressbook_failure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addressbook_failure</servlet-name>
    <url-pattern>/Addressbook_failure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>addressbook.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Itiran</display-name>
    <servlet-name>Itiran</servlet-name>
    <servlet-class>addressbook.Itiran</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Itiran</servlet-name>
    <url-pattern>/Itiran</url-pattern>
  </servlet-mapping>
</web-app>