@CHARSET "UTF-8";

section p{
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

table{
    margin: 10px auto 0 auto;
    padding: 0;
}

table td:first-child{
    padding-right: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

