@CHARSET "UTF-8";

body{
  font-family: 'メイリオ';
  padding: 0;
  margin: 0;
}

h1,h2,h3{
  margin: 10px;
  text-align: center;
}

p{text-align: center;}

.menu_nav li,.centeringDiv{
  text-align: center;
}

.errorMessage{
  color: #dd2020;
  text-align: center;
}

/*汎用的なテーブルセンタリング用*/
.centeringTable{
  width: 300px;
  margin: 20px auto;
}

.centeringTable th{
  text-align: right;
}

.centeringTable td{
  text-align: center;
}

/*生徒・管理者ログイン画面*/
.loginTable{
  width: 600px;
  margin: 20px auto;
}

.loginTable td{
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.loginTable td:first-child{
  text-align: right;
}

.linkButton_ll,.linkButton_l,.linkButton_r,.linkButton_s,.submitButton{
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid;
  border-color: #909090 #707070 #707070 #909090;
  display: inline-block;
  background-color: #c0c0c0;
  color: #000000;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  text-decoration: none;
  margin: 15px 0;
  padding: 5px;
}

.linkButton_ll{
  height: 30px;
  width: 200px;
  font-size: 1.5em;
}

.linkButton_l{
  hieght: 25px;
  font-size: 1em;
}

.linkButton_r{
  height: 20px;
  font-size: 0.85em;
}

.linkButon_s{
  height: 15px;
  font-size: 0.75em;
}

.linkButton_ll:hover,.linkButton_l:hover,.linkButton_r:hover,.linkButton_s:hover,.submitButton:hover{
  background-color: #808080;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  cursor: pointer;
}

.errorTextBox{
  border-color: #dd2020;
}

section{
   height: 100%;
   width: 85%;
   float: right;
}

section iframe{
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.menu_nav{
  width: 15%;
  min-width: 150px;
  height: 100%;
  background-color: #00ffff;
  float: left;
  margin: 0;
  padding: 0;
}

.menu_nav ul{
  list-style-type: none;
  display: inline;
}

/*管理者ログイン画面リンク先の新規登録画面*/
.singUpDiv{
  width: 600px;
  margin: 0 auto;
}

.singUpDiv ul{
  list-style-position: inside;
  list-style-type: none;
  text-align: center;
}

.singUpDiv table{
  width: 600px;
  mergin: 0 auto;
}

.singUpDiv td{
  padding: 5px 0;
}

.singUpDiv th{
  text-align: right;
  padding-right: 10px;
}

/*本日の授業一覧用*/
.listTable{
  width: 520px;
  margin: 10px auto;
}

.listTable thead th{
  background-color: #f7f1af; /*クリーム色*/
  text-align: center;
}

.listTable thead,.listTable tbody{
  display: block;
}

.listTable tbody{
  overflow-y: scroll;
  height: 320px;
}

.list_lesson{width:230px; max-width:230px;}
.list_hour{width:50px; max-width:50px;}
.list_teacher{width:120px; max-width:120px;}
.list_attend{width:100px; max-width:100px;}

.listTable td{
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

/*パスワード変更ページ*/
.passForm{
  width: 800px;
  margin: 0 auto;
}

.passForm table{
  margin: 0 auto;
}

.error{
  white-space: nowrap;
  color: #ee5050;
  overflow: hidden;
  font-size: 0.8em;
}

.passForm td:first-child{
  text-align: right;
  padding-right: 10px;
  font-size: 0.9em;
  padding: 5px;
}

/*検索欄用*/
.searchForm{
  width: 450px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
}

.searchForm table{
  display: inline;
}

.searchForm th{
  text-align: right;
}

.searchForm select{
  width: 100px;
}

.searchForm input[type=submit]{
  width: 130px;
}

.submitButton{
  padding: 5px;
  margin: 0;
  width: 120px;
  height: 35px;
}

.textLeft{
  text-align: left;
}

.pastDiv{
  width: 650px;
  margin: 0 auto;
}

.pastDiv table + form{
  float: right;
  margin-right: 50px;
}

/*過去情報テーブル用*/
.pastListTable{
  width: 650px;
  height: 320px;
  margin: 20px auto;
}

.pastListTable thead,.pastListTable tbody{
  display: block;
  text-align: center;
}

.pastListTable thead th{
  background-color: #ffffad;
}

.pastListTable tbody{
  overflow-y: scroll;
  height: 300px;
}

.pastListTable tbody td{
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*本日の授業一覧用*/
.listTable{
  width: 550px;
  margin: 10px auto;
}

.listTable thead th{
  background-color: #f7f1af; /*クリーム色*/
  text-align: center;
}

.listTable thead,.listTable tbody{
  display: block;
}

.listTable tbody{
  overflow-y: scroll;
  height: 320px;
}
.col_date{width:130px; max-width:130px;}
.col_lesson{width:380px; max-width:380px;}
.col_hour{width:100px; max-width:100px;}

/*管理者新規登録・編集・削除用*/
.managerDiv{
  width: 600px;
  margin: 0 auto;
}
.managerDiv p{
  color: #ff0000;
}
.managerDiv ul{
  list-style-position: inside;
  list-style-type: none;
  text-align: center;
}

.managerDiv table{
  width: 600px;
  mergin: 0 auto;
}

.managerDiv td{
  margin: 0 auto;
  padding: 5px 0;
}

.managerDiv th{
  text-align: center;
  padding-right: 10px;
}

/*管理者一覧表示用*/
.managerListTable{
  height: 320px;
  margin: 20px auto;

}

.managerListTable thead th{
  background-color: #bbbbff; /*水色*/
  text-align: center;
  padding: 0;
  margin: 0;
}

.managerListTable thead,.managerListTable tbody{
  display: block;
  text-align: center;
}

.managerListTable tbody{
  overflow-y: scroll;
  height:320px;

}
.managerListTable tbody td{
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.col_s{width:80px; max-width:80px;}
.col_m{width:200px; max-width:200px;}
.col_l{width:200px; max-width:200px;}
.col_ss{width:20px; max-width:20px;}
.col_bottun{width:50px; max-width:50px;}

/*管理者【生徒&講師一覧】*/
.col_id{width:40px; max-width:40px;}
.col_name{width:150px; max-width:150px;}
.col_address{width:190px; max-width:190px;}
.col_tel{width:120px; max-width:120px;}

/*管理者【講義一覧】*/
.col_lecture{width:180px; max-width:180px;}
.col_lecTeacher{width:100px; max-width:100px;}
.col_lecHour{width:50px;max-width:50px;}

/*管理者【クラス一覧】*/
.col_classId{width:200px;max-width:200px;}
.col_className{width:300px;max-width:300px;}

/*管理者【科目一覧】*/
.col_lessonId{width:100px; max-width:100px;}
.managerListTable .col_lesson{width:250px; max-width:250px;}
.managerListTable .col_teacher{width:150px; max-width:150px;}

/*管理者【出席一覧】*/
.managerListTable .col_hour{width:50px;max-width:50px;}

/*管理者一覧表示用(クラス）*/
.attendListTable{
  margin: 20px auto;
}

.attendListTable td{
  text-align: center;
}

.submitManagerButton{
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid;
  border-color: #909090 #707070 #707070 #909090;
  display: inline-block;
  background-color: #c0c0c0;
  color: #000000;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  text-decoration: none;
  margin: 60px 0;
  padding: 5px;
}
.submitManagerButton:hover{
  background-color: #808080;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  cursor: pointer;
}
