@CHARSET "UTF-8";
body{
	background-color : #006699;
}

h1,h2{
	color :#00FFFF;
	text-align: center;
}

form {
	text-align: center;
}

p{
	text-align: center;
	color : #00FFFF;
}

.i_tb{
	width : 50%;
	margin : auto;
	border-collapse: separate;
	border-spacing: 0px;
}

.i_tb td{
	text-align: left;
	vertical-align: top;
	color : #00FFFF;
}

