@CHARSET "UTF-8";

body{
	background-color : #ff7f50;
	margin: 0;
	padding: 0;
}

h1,h2{
	color :#eee8aa;
	text-align: center;
}

form{
	text-align: center;
}

p{
	text-align: center;
	color : #eee8aa;
}

.i_tb{
	width : 50%;
	border-collapse: separate;
	border-spacing: 0px;
}

.i_tb td{
	text-align: left;
	vertical-align: middle;
	color : #eee8aa;
}

