<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kadai1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JspServlet</display-name>
    <servlet-name>JspServlet</servlet-name>
    <servlet-class>servlet.JspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JspServlet</servlet-name>
    <url-pattern>/JspServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Notsuccess</display-name>
    <servlet-name>Notsuccess</servlet-name>
    <servlet-class>servlet.Notsuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notsuccess</servlet-name>
    <url-pattern>/Notsuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tablelist2</display-name>
    <servlet-name>Tablelist2</servlet-name>
    <servlet-class>servlet.Tablelist2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tablelist2</servlet-name>
    <url-pattern>/Tablelist2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resistration2</display-name>
    <servlet-name>Resistration2</servlet-name>
    <servlet-class>servlet.Resistration2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resistration2</servlet-name>
    <url-pattern>/Resistration2</url-pattern>
  </servlet-mapping>
</web-app>