@CHARSET "UTF-8";

p	{
		font-size: 17px;
		border-left: solid 5px #E3E4D9;
		padding-left: 10px;
	}

/* 見出し */
h1	{
		font-size: 35px;
		color: #ffffff;
		background-color: #ffb833;
		border-bottom: solid 3px #0000ff;
		border-style:ridge;
	}
table {
		margin:5px 0;
		font-size:14px;
		border: 1px solid #CCCCCC;


}
table td{

		border: 1px solid #CCCCCC;
		paddeing: 5px 10px;

}
table tn{
		background-color: #ccccff;
		min-width: 200px;
}
table ta{
		background-color: #ffe3b3;
		min-width: 200px;
}
table tt{
		background-color: #ffcccc;
		min-width: 200px;
}
*{
		background-color: #ccffff;
}