@CHARSET "UTF-8";

h1 { font-family: “Meiryo”, sans-serif;
		text-align: center;
		color: #996600 ;
		background: #FFFF33;
		font-size: 30pt ;
		line-height: 1;
		margin:10px 450px;
		padding: 5px 5px 10px 5px;
		box-shadow:1px 3px 7px 0px #228B22 ;
		border-top:7px solid #DAA520;
		border-bottom:7px solid #DAA520;
		border-radius: 5px ;
		}

body {background-color:#87f3ff;
		font-size : 20;
		font-family: "Meiryo";
		line-height: 2;
		}

p {text-align: center;
	font-size: x-large ;}

label{margin-left: 400px;}

div {text-align : center ;}

input.button{font-size:18px; font-family: "Meiryo";}